/* .App {
  text-align: center;
} */

body{
  /* height: 100vh; */
  
  font-family: 'Poppins', sans-serif;
}
.movie-list{
  padding: 24px;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  /* flex-direction: column; */
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.movie-container{
  width: 340px;
  /* background-color: crimson; */
}
.movie-spec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-rating{
  font-size: 18px;
  /* font-weight:400 ; */
}
.movie-name{
  font-size: 24px;
}
.movie-poster{
  height: 500px;
  width: 340px;
  object-fit: cover;
  background-color: teal;
}